<h3 *ngIf="cart.items.length == 0" class="text-center">
    There are no products in shop cart yet
</h3>
<div *ngIf="cart.items.length > 0" class="cart">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of cart.items">
            <cart-item [cartItem]="item" [itemDisabled]="isOrdered"></cart-item>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <button *ngIf="!isOrdering && !isOrdered" (click)="isOrdering = true" class="btn btn-primary">Make Order</button>
                </div>
                <div class="col-sm-2">
                    Total price:
                </div>
                <div class="col-sm-4">
                    {{ cart.totalPrice | currency: 'USD': true: '1.2-2' }}
                </div>
            </div>
        </li>
    </ul>
    <!--<order-form *ngIf="isOrdering" (submitted)="onSubmit($event)"></order-form>-->
    <order-form-md *ngIf="isOrdering" (submitted)="onSubmit($event)"></order-form-md>
</div>
<div *ngIf="isOrdered">
    <h3 class="text-center">
        Our maneger will contact to you.
    </h3>
    <div class="alert alert-success text-center">
        SUCCESS
    </div>
</div>