<spinner [hidden]="!isLoading"></spinner>
<div [hidden]="isLoading" class="panel panel-default">
  <div class="panel-heading">Product Details</div>
  <div class="panel-body">
    <div class="media"> 
        <div class="media-left"> 
            <a href="#"> 
                <img class="media-object" *ngIf="product.id" [src]="product.imgUrl" [alt]="product.name" >
            </a>
        </div>
        <div class="media-body"> 
            <h4 class="media-heading">{{product.name}}</h4> 
            <div class="row">
                <div class="col-sm-3">
                    Price: {{product.price | currency: 'USD': true: '1.2-2'}}
                </div>
                <div class="col-sm-9">
                    Short Description: {{getShortDescription()}}
                </div>
                <div class="col-sm-3">
                    <button (click)="addToCart(product)" class="btn btn-link btn-lg">
                        <i class="fa fa-shopping-cart"></i> Add
                    </button>
                </div>
            </div>
        </div>
        <tabs>
            <tab [tabTitle]="'Description'">
                {{product.description}}
            </tab>
            <tab [tabTitle]="'Details'">
                {{product | json}}
            </tab>
        </tabs>
        <router-outlet></router-outlet>
    </div>
  </div>
</div>