<div class="row">
    <div class="col-sm-2 thumbnail">
        <img [src]="cartItem.product.imgUrl" [alt]="cartItem.product.name" imagePreloader>
    </div>
    <div class="col-sm-4">
        {{cartItem.product.name}}
    </div>
    <div class="col-sm-2">
        <input type="number" class="form-control"
             [value]="cartItem.amount" 
             [disabled]="itemDisabled"
             (input)="changeItemAmount($event.target.value)" 
             (blur)="onBlur($event.target.value)">
    </div>
    <div class="col-sm-2">
        {{ cartItem.amount*cartItem.product.price | currency: 'USD': true: '1.2-2' }}
    </div>
    <div class="col-sm-2">
        <button class="btn btn-link" (click)="deleteItem()" [disabled]="itemDisabled">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>