h3{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}
.product-link{
    display: inline-block;
    width: 100%;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
}
.fa-spinner{
    margin-top: 80px;
}
.description{
    display: block;
    display: -webkit-box;
    height: 84px; 
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
