<form class="form-horizontal" [formGroup]="orderForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
            <div [hidden]="orderForm.controls.firstName.valid || orderForm.controls.firstName.pristine" class="alert alert-danger">
                Field is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
            <div [hidden]="orderForm.controls.lastName.valid || orderForm.controls.lastName.pristine" class="alert alert-danger">
                Field is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="phone" placeholder="Phone" formControlName="phone">
            <div [hidden]="orderForm.controls.phone.valid || orderForm.controls.phone.pristine" class="alert alert-danger">
                Field is required
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-btn-primary" [disabled]="!orderForm.valid">Order</button>
        </div>
    </div>
</form>